.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:auto;
  z-index:1;
  background-image: url("images/bg.png");
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:auto;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  /*background-image: url("images/bg.png");*/
  background-color: rgba(0, 0, 0, 0.5);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:auto;
  z-index:2;
}
.Header{
  position:relative;
  z-index:3;
  pointer-events:auto;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:120px;
  margin-top:0px;
  margin-bottom:904px;
  min-height:120px;
  background:linear-gradient(173.62deg, rgba(70, 93, 214, 0) 27.99244915490432%, rgba(70, 93, 214, 1) 82.6957753283047%);
}
.Header-outer{
  pointer-events:auto;
  z-index:3;
  position:relative;
  display:flex;
}
.Frame-1{
  position:relative;
  z-index:4;
  pointer-events:auto;
  margin-left:41px;
  width:389px;
  min-width:389px;
  height:86px;
  margin-top:34px;
  margin-bottom:0px;
  min-height:86px;
}
.Frame-1-outer{
  pointer-events:auto;
  z-index:4;
  position:relative;
  display:flex;
}
.healthicons-i-schedu{
  position:relative;
  z-index:5;
  pointer-events:auto;
  margin-left:0px;
  width:115px;
  min-width:115px;
  height:86px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:86px;
  overflow:hidden;
}
.healthicons-i-schedu-outer{
  pointer-events:auto;
  z-index:5;
  position:relative;
  display:flex;
}
.Group-6{
  position:relative;
  z-index:6;
  pointer-events:auto;
  margin-left:0px;
  width:115px;
  min-width:115px;
  height:86px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:86px;
}
.Group-6-outer{
  pointer-events:auto;
  z-index:6;
  position:relative;
  display:flex;
}
.Vector-13{
  position:relative;
  z-index:14;
  pointer-events:auto;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/logo.png);
}
.Vector-13-outer{
  pointer-events:auto;
  z-index:14;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-14{
  position:relative;
  z-index:13;
  pointer-events:auto;
  margin-left:16.52173913043478%;
  width:54.165217391304346%;
  height:39.58139534883721%;
  margin-top:27.82608695652174%;
}
.Vector-14-outer{
  pointer-events:auto;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-15{
  position:relative;
  z-index:12;
  pointer-events:auto;
  margin-left:41.73913043478261%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:48.69565217391305%;
  content:url(images/Vector_15.png);
}
.Vector-15-outer{
  pointer-events:auto;
  z-index:12;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-16{
  position:relative;
  z-index:11;
  pointer-events:auto;
  margin-left:25.217391304347824%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:48.69565217391305%;
  content:url(images/Vector_16.png);
}
.Vector-16-outer{
  pointer-events:auto;
  z-index:11;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-17{
  position:relative;
  z-index:10;
  pointer-events:auto;
  margin-left:58.26086956521739%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_17.png);
}
.Vector-17-outer{
  pointer-events:auto;
  z-index:10;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-18{
  position:relative;
  z-index:9;
  pointer-events:auto;
  margin-left:41.73913043478261%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_18.png);
}
.Vector-18-outer{
  pointer-events:auto;
  z-index:9;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-19{
  position:relative;
  z-index:8;
  pointer-events:auto;
  margin-left:25.217391304347824%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_19.png);
}
.Vector-19-outer{
  pointer-events:auto;
  z-index:8;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-20{
  position:relative;
  z-index:7;
  pointer-events:auto;
  margin-left:62.608695652173914%;
  width:20.83478260869565%;
  height:20.837209302325583%;
  margin-top:46.95652173913044%;
  content:url(images/Vector_20.png);
}
.Vector-20-outer{
  pointer-events:auto;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Book-Boardoom{
  position:relative;
  z-index:15;
  pointer-events:auto;
  margin-left:115px;
  width:274px;
  min-width:274px;
  margin-top:-42px;
  margin-bottom:0px;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:36px;
  line-height:43px;
}
.Book-Boardoom-outer{
  pointer-events:auto;
  z-index:15;
  position:relative;
  display:flex;
}
.Frame-5{
  position:relative;
  z-index:16;
  pointer-events:auto;
  margin-left:900px;
  width:400px;
  min-width:400px;
  height:35px;
  margin-top:-35px;
  margin-bottom:0px;
  min-height:35px;
}
.Frame-5-outer{
  pointer-events:auto;
  z-index:16;
  position:relative;
  display:flex;
}
.Logout{
  position:relative;
  z-index:20;
  pointer-events:auto;
  margin-left:302px;
  width:98px;
  min-width:98px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Logout-outer{
  pointer-events:auto;
  z-index:20;
  position:relative;
  display:flex;
}
.Meetings{
  position:relative;
  z-index:19;
  pointer-events:auto;
  margin-left:178px;
  width:109px;
  min-width:109px;
  margin-top:-35px;
  margin-bottom:0px;
  min-height:35px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Meetings-outer{
  pointer-events:auto;
  z-index:19;
  position:relative;
  display:flex;
}
.Profile{
  position:relative;
  z-index:18;
  pointer-events:auto;
  margin-left:84px;
  width:79px;
  min-width:79px;
  margin-top:-35px;
  margin-bottom:0px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Profile-outer{
  pointer-events:auto;
  z-index:18;
  position:relative;
  display:flex;
}
.Home{
  position:relative;
  z-index:17;
  pointer-events:auto;
  margin-left:0px;
  width:69px;
  min-width:69px;
  margin-top:-35px;
  margin-bottom:0px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Home-outer{
  pointer-events:auto;
  z-index:17;
  position:relative;
  display:flex;
}
.Frame-39{
  position:relative;
  z-index:65;
  pointer-events:auto;
  margin-left:236px;
  width:905px;
  min-width:905px;
  height:518px;
  margin-top:-817px;
  margin-bottom:299px;
  min-height:518px;
  background-color:rgba(12, 12, 16, 0.75);
}
.Frame-39-outer{
  pointer-events:auto;
  z-index:65;
  position:relative;
  display:flex;
}
.Frame-40{
  position:relative;
  z-index:66;
  pointer-events:auto;
  margin-left:0px;
  width:289px;
  min-width:289px;
  height:62px;
  margin-top:0px;
  margin-bottom:456px;
  min-height:62px;
}
.Frame-40-outer{
  pointer-events:auto;
  z-index:66;
  position:relative;
  display:flex;
}
.Room-details{
  position:relative;
  z-index:67;
  pointer-events:auto;
  margin-left:10px;
  width:211px;
  min-width:211px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:36px;
  line-height:43px;
}
.Room-details-outer{
  pointer-events:auto;
  z-index:67;
  position:relative;
  display:flex;
}
.Frame-32{
  position:relative;
  z-index:68;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  height:387px;
  margin-top:-419px;
  margin-bottom:32px;
  min-height:387px;
}
.Frame-32-outer{
  pointer-events:auto;
  z-index:68;
  position:relative;
  display:flex;
}
.Frame-33{
  position:relative;
  z-index:69;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  height:387px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:387px;
}
.Frame-33-outer{
  pointer-events:auto;
  z-index:69;
  position:relative;
  display:flex;
}
.Meeting-name-{
  position:relative;
  z-index:70;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:0px;
  margin-bottom:352px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Meeting-name--outer{
  pointer-events:auto;
  z-index:70;
  position:relative;
  display:flex;
}
.Description-{
  position:relative;
  z-index:71;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-343px;
  margin-bottom:308px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Description--outer{
  pointer-events:auto;
  z-index:71;
  position:relative;
  display:flex;
}
.Owner{
  position:relative;
  z-index:72;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-299px;
  margin-bottom:264px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Owner-outer{
  pointer-events:auto;
  z-index:72;
  position:relative;
  display:flex;
}
.Location-{
  position:relative;
  z-index:73;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-255px;
  margin-bottom:220px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Location--outer{
  pointer-events:auto;
  z-index:73;
  position:relative;
  display:flex;
}
.Starts-{
  position:relative;
  z-index:74;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-211px;
  margin-bottom:176px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Starts--outer{
  pointer-events:auto;
  z-index:74;
  position:relative;
  display:flex;
}
.Ends-{
  position:relative;
  z-index:75;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-167px;
  margin-bottom:132px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Ends--outer{
  pointer-events:auto;
  z-index:75;
  position:relative;
  display:flex;
}
.Dates-{
  position:relative;
  z-index:76;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-123px;
  margin-bottom:88px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Dates--outer{
  pointer-events:auto;
  z-index:76;
  position:relative;
  display:flex;
}
.Capacity-{
  position:relative;
  z-index:77;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-79px;
  margin-bottom:44px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Capacity--outer{
  pointer-events:auto;
  z-index:77;
  position:relative;
  display:flex;
}
.Co-owners{
  position:relative;
  z-index:78;
  pointer-events:auto;
  margin-left:0px;
  width:210px;
  min-width:210px;
  margin-top:-35px;
  margin-bottom:0px;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 195, 169, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Co-owners-outer{
  pointer-events:auto;
  z-index:78;
  position:relative;
  display:flex;
}
.Footer{
  position:relative;
  z-index:21;
  pointer-events:auto;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:185px;
  margin-top:-185px;
  margin-bottom:0;
  min-height:185px;
  background:linear-gradient(170.99deg, rgba(70, 93, 214, 0.800000011920929) 37.653956634635406%, rgba(70, 93, 214, 0) 82.03928761466305%);
}
.Footer-outer{
  pointer-events:auto;
  z-index:21;
  position:relative;
  display:flex;
}
.Frame-88{
  position:relative;
  z-index:50;
  pointer-events:auto;
  margin-left:691px;
  width:295px;
  min-width:295px;
  height:78px;
  margin-top:0px;
  margin-bottom:142px;
  min-height:78px;
}
.Frame-88-outer{
  pointer-events:auto;
  z-index:50;
  position:relative;
  display:flex;
}
.Frame-18{
  position:relative;
  z-index:51;
  pointer-events:auto;
  margin-left:0px;
  width:280px;
  min-width:280px;
  height:36px;
  margin-top:0px;
  margin-bottom:42px;
  min-height:36px;
}
.Frame-18-outer{
  pointer-events:auto;
  z-index:51;
  position:relative;
  display:flex;
}
.akar-icons-link-out-1{
  position:relative;
  z-index:53;
  pointer-events:auto;
  margin-left:200px;
  width:34px;
  min-width:34px;
  height:33px;
  margin-top:0px;
  margin-bottom:3px;
  min-height:33px;
  overflow:hidden;
}
.akar-icons-link-out-1-outer{
  pointer-events:auto;
  z-index:53;
  position:relative;
  display:flex;
}
.Group-1{
  position:relative;
  z-index:54;
  pointer-events:auto;
  margin-left:4px;
  width:25.5px;
  min-width:25.5px;
  height:24.75px;
  margin-top:4px;
  margin-bottom:4.25px;
  min-height:24.75px;
}
.Group-1-outer{
  pointer-events:auto;
  z-index:54;
  position:relative;
  display:flex;
}
.Vector-3{
  position:relative;
  z-index:57;
  pointer-events:auto;
  margin-left:-3.9215686274509802%;
  width:107.84313725490196%;
  height:108.08080808080808%;
  margin-top:-3.9215686274509802%;
  content:url(images/Vector_3.png);
}
.Vector-3-outer{
  pointer-events:auto;
  z-index:57;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-4{
  position:relative;
  z-index:56;
  pointer-events:auto;
  margin-left:70.58823529411777%;
  width:35.60784313725496%;
  height:35.87878787878788%;
  margin-top:-3.921568627450987%;
  content:url(images/Vector_4.png);
}
.Vector-4-outer{
  pointer-events:auto;
  z-index:56;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-5{
  position:relative;
  z-index:55;
  pointer-events:auto;
  margin-left:54.90196078431371%;
  width:49.52941176470587%;
  height:49.73737373737374%;
  margin-top:-3.9215686274509793%;
  content:url(images/Vector_5.png);
}
.Vector-5-outer{
  pointer-events:auto;
  z-index:55;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Terms-And-Conditions{
  position:relative;
  z-index:52;
  pointer-events:auto;
  margin-left:0px;
  width:246px;
  min-width:246px;
  margin-top:-36px;
  margin-bottom:0px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Terms-And-Conditions-outer{
  pointer-events:auto;
  z-index:52;
  position:relative;
  display:flex;
}
.Frame-17{
  position:relative;
  z-index:58;
  pointer-events:auto;
  margin-left:0px;
  width:295px;
  min-width:295px;
  height:36px;
  margin-top:-36px;
  margin-bottom:0px;
  min-height:36px;
}
.Frame-17-outer{
  pointer-events:auto;
  z-index:58;
  position:relative;
  display:flex;
}
.akar-icons-link-out{
  position:relative;
  z-index:60;
  pointer-events:auto;
  margin-left:200px;
  width:34px;
  min-width:34px;
  height:33px;
  margin-top:0px;
  margin-bottom:3px;
  min-height:33px;
  overflow:hidden;
}
.akar-icons-link-out-outer{
  pointer-events:auto;
  z-index:60;
  position:relative;
  display:flex;
}
.Group{
  position:relative;
  z-index:61;
  pointer-events:auto;
  margin-left:4px;
  width:25.5px;
  min-width:25.5px;
  height:24.75px;
  margin-top:4px;
  margin-bottom:4.25px;
  min-height:24.75px;
}
.Group-outer{
  pointer-events:auto;
  z-index:61;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:64;
  pointer-events:auto;
  margin-left:-3.9215686274509802%;
  width:107.84313725490196%;
  height:108.08080808080808%;
  margin-top:-3.9215686274509802%;
  content:url(images/Vector.png);
}
.Vector-outer{
  pointer-events:auto;
  z-index:64;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-1{
  position:relative;
  z-index:63;
  pointer-events:auto;
  margin-left:70.58823529411777%;
  width:35.60784313725496%;
  height:35.87878787878788%;
  margin-top:-3.921568627450987%;
  content:url(images/Vector_1.png);
}
.Vector-1-outer{
  pointer-events:auto;
  z-index:63;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-2{
  position:relative;
  z-index:62;
  pointer-events:auto;
  margin-left:54.90196078431371%;
  width:49.52941176470587%;
  height:49.73737373737374%;
  margin-top:-3.9215686274509793%;
  content:url(images/Vector_2.png);
}
.Vector-2-outer{
  pointer-events:auto;
  z-index:62;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Licence-And-Agreemen{
  position:relative;
  z-index:59;
  pointer-events:auto;
  margin-left:0px;
  width:261px;
  min-width:261px;
  margin-top:-36px;
  margin-bottom:0px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Licence-And-Agreemen-outer{
  pointer-events:auto;
  z-index:59;
  position:relative;
  display:flex;
}
.Frame-16{
  position:relative;
  z-index:22;
  pointer-events:auto;
  margin-left:0px;
  width:333px;
  min-width:333px;
  height:183px;
  margin-top:-220px;
  margin-bottom:37px;
  min-height:183px;
}
.Frame-16-outer{
  pointer-events:auto;
  z-index:22;
  position:relative;
  display:flex;
}
.Frame-15{
  position:relative;
  z-index:23;
  pointer-events:auto;
  margin-left:0px;
  width:333px;
  min-width:333px;
  height:109px;
  margin-top:0px;
  margin-bottom:74px;
  min-height:109px;
}
.Frame-15-outer{
  pointer-events:auto;
  z-index:23;
  position:relative;
  display:flex;
}
.Frame-7{
  position:relative;
  z-index:24;
  pointer-events:auto;
  margin-left:50px;
  width:315px;
  min-width:315px;
  height:70px;
  margin-top:0px;
  margin-bottom:39px;
  min-height:70px;
}
.Frame-7-outer{
  pointer-events:auto;
  z-index:24;
  position:relative;
  display:flex;
}
.Contact-{
  position:relative;
  z-index:25;
  pointer-events:auto;
  margin-left:0px;
  width:207px;
  min-width:207px;
  margin-top:0px;
  margin-bottom:34px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:18px;
  line-height:29px;
}
.Contact--outer{
  pointer-events:auto;
  z-index:25;
  position:relative;
  display:flex;
}
.Frame-11{
  position:relative;
  z-index:26;
  pointer-events:auto;
  margin-left:0px;
  width:315px;
  min-width:315px;
  height:31px;
  margin-top:-31px;
  margin-bottom:0px;
  min-height:31px;
}
.Frame-11-outer{
  pointer-events:auto;
  z-index:26;
  position:relative;
  display:flex;
}
.Frame-12{
  position:relative;
  z-index:27;
  pointer-events:auto;
  margin-left:0px;
  width:315px;
  min-width:315px;
  height:31px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:31px;
}
.Frame-12-outer{
  pointer-events:auto;
  z-index:27;
  position:relative;
  display:flex;
}
.email--info-tracom-c{
  position:relative;
  z-index:30;
  pointer-events:auto;
  margin-left:42px;
  width:273px;
  min-width:273px;
  margin-top:0px;
  margin-bottom:3px;
  min-height:28px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.email--info-tracom-c-outer{
  pointer-events:auto;
  z-index:30;
  position:relative;
  display:flex;
}
.dashicons-email{
  position:relative;
  z-index:28;
  pointer-events:auto;
  margin-left:0px;
  width:37px;
  min-width:37px;
  height:31px;
  margin-top:-31px;
  margin-bottom:0px;
  min-height:31px;
  overflow:hidden;
}
.dashicons-email-outer{
  pointer-events:auto;
  z-index:28;
  position:relative;
  display:flex;
}
.Vector-12{
  position:relative;
  z-index:29;
  pointer-events:auto;
  margin-left:10.81081081081081%;
  width:85.05405405405405%;
  height:60.00000000000001%;
  margin-top:16.216216216216218%;
  content:url(images/Vector_12.png);
}
.Vector-12-outer{
  pointer-events:auto;
  z-index:29;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-13{
  position:relative;
  z-index:31;
  pointer-events:auto;
  margin-left:0px;
  width:333px;
  min-width:333px;
  height:36px;
  margin-top:-36px;
  margin-bottom:0px;
  min-height:36px;
}
.Frame-13-outer{
  pointer-events:auto;
  z-index:31;
  position:relative;
  display:flex;
}
.Frame-14{
  position:relative;
  z-index:32;
  pointer-events:auto;
  margin-left:50px;
  width:333px;
  min-width:333px;
  height:36px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:36px;
}
.Frame-14-outer{
  pointer-events:auto;
  z-index:32;
  position:relative;
  display:flex;
}
.phone--5689000775{
  position:relative;
  z-index:35;
  pointer-events:auto;
  margin-left:34px;
  width:299px;
  min-width:299px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.phone--5689000775-outer{
  pointer-events:auto;
  z-index:35;
  position:relative;
  display:flex;
}
.dashicons-phone{
  position:relative;
  z-index:33;
  pointer-events:auto;
  margin-left:0px;
  width:29px;
  min-width:29px;
  height:29px;
  margin-top:-29px;
  margin-bottom:0px;
  min-height:29px;
  overflow:hidden;
}
.dashicons-phone-outer{
  pointer-events:auto;
  z-index:33;
  position:relative;
  display:flex;
}
.Vector-11{
  position:relative;
  z-index:34;
  pointer-events:auto;
  margin-left:3.4482758620689653%;
  width:88.65517241379311%;
  height:88.75862068965517%;
  margin-top:3.4482758620689653%;
  content:url(images/Vector_11.png);
}
.Vector-11-outer{
  pointer-events:auto;
  z-index:34;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-8{
  position:relative;
  z-index:36;
  pointer-events:auto;
  margin-left:50px;
  width:312px;
  min-width:312px;
  height:60px;
  margin-top:-60px;
  margin-bottom:0px;
  min-height:60px;
}
.Frame-8-outer{
  pointer-events:auto;
  z-index:36;
  position:relative;
  display:flex;
}
.akar-icons-linkedin-{
  position:relative;
  z-index:47;
  pointer-events:auto;
  margin-left:150px;
  width:64px;
  min-width:64px;
  height:48px;
  margin-top:0px;
  margin-bottom:12px;
  min-height:48px;
  overflow:hidden;
}
.akar-icons-linkedin--outer{
  pointer-events:auto;
  z-index:47;
  position:relative;
  display:flex;
}
.Group-2{
  position:relative;
  z-index:48;
  pointer-events:auto;
  margin-left:3px;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:2px;
  margin-bottom:2px;
  min-height:35px;
}
.Group-2-outer{
  pointer-events:auto;
  z-index:48;
  position:relative;
  display:flex;
}
.Vector-6{
  position:relative;
  z-index:49;
  pointer-events:auto;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(images/Vector_6.png);
}
.Vector-6-outer{
  pointer-events:auto;
  z-index:49;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.et-twitter{
  position:relative;
  z-index:43;
  pointer-events:auto;
  margin-left:100px;
  width:64px;
  min-width:64px;
  height:46px;
  margin-top:-60px;
  margin-bottom:14px;
  min-height:46px;
  overflow:hidden;
}
.et-twitter-outer{
  pointer-events:auto;
  z-index:43;
  position:relative;
  display:flex;
}
.Group-3{
  position:relative;
  z-index:44;
  pointer-events:auto;
  margin-left:0;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:-0.10000000000002274px;
  min-height:35px;
}
.Group-3-outer{
  pointer-events:auto;
  z-index:44;
  position:relative;
  display:flex;
}
.Vector-7{
  position:relative;
  z-index:46;
  pointer-events:auto;
  margin-left:26.504521359526038%;
  width:53.22731524789523%;
  height:43.861171366594355%;
  margin-top:21.82725288431556%;
  content:url(images/Vector_7.png);
}
.Vector-7-outer{
  pointer-events:auto;
  z-index:46;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-8{
  position:relative;
  z-index:45;
  pointer-events:auto;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(images/Vector_8.png);
}
.Vector-8-outer{
  pointer-events:auto;
  z-index:45;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.akar-icons-reddit-fi{
  position:relative;
  z-index:40;
  pointer-events:auto;
  margin-left:50px;
  width:56px;
  min-width:56px;
  height:46px;
  margin-top:-60px;
  margin-bottom:14px;
  min-height:46px;
  overflow:hidden;
}
.akar-icons-reddit-fi-outer{
  pointer-events:auto;
  z-index:40;
  position:relative;
  display:flex;
}
.Group-4{
  position:relative;
  z-index:41;
  pointer-events:auto;
  margin-left:0;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:0;
  min-height:35px;
}
.Group-4-outer{
  pointer-events:auto;
  z-index:41;
  position:relative;
  display:flex;
}
.Vector-9{
  position:relative;
  z-index:42;
  pointer-events:auto;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(images/Vector_9.png);
}
.Vector-9-outer{
  pointer-events:auto;
  z-index:42;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.akar-icons-facebook-{
  position:relative;
  z-index:37;
  pointer-events:auto;
  margin-left:0px;
  width:67px;
  min-width:67px;
  height:48px;
  margin-top:-60px;
  margin-bottom:12px;
  min-height:48px;
  overflow:hidden;
}
.akar-icons-facebook--outer{
  pointer-events:auto;
  z-index:37;
  position:relative;
  display:flex;
}
.Group-5{
  position:relative;
  z-index:38;
  pointer-events:auto;
  margin-left:0;
  width:36px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:0;
  min-height:35px;
}
.Group-5-outer{
  pointer-events:auto;
  z-index:38;
  position:relative;
  display:flex;
}
.Vector-10{
  position:relative;
  z-index:39;
  pointer-events:auto;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(images/Vector_10.png);
}
.Vector-10-outer{
  pointer-events:auto;
  z-index:39;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
