.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:auto;
  z-index:1;
  background-image: url("images/bg.png");
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:auto;
  width:100%;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  /*background-image: url("images/bg.png");*/
  background-color: rgba(0, 0, 0, 0.5);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:auto;
  z-index:2;
}
.Header{
  position:relative;
  z-index:3;
  pointer-events:auto;
  margin-left:0;
  width:1440px;
  min-width:1440px;
  height:120px;
  margin-top:0;
  margin-bottom:904px;
  min-height:120px;
  background:linear-gradient(173.62deg, rgba(70, 93, 214, 0) 27.99244915490432%, rgba(70, 93, 214, 1) 82.6957753283047%);
}
.Header-outer{
  pointer-events:auto;
  z-index:3;
  position:relative;
  display:flex;
}
.Frame-1{
  position:relative;
  z-index:4;
  pointer-events:auto;
  margin-left:41px;
  width:389px;
  min-width:389px;
  height:86px;
  margin-top:34px;
  margin-bottom:0;
  min-height:86px;
}
.Frame-1-outer{
  pointer-events:auto;
  z-index:4;
  position:relative;
  display:flex;
}
.healthicons-i-schedu{
  position:relative;
  z-index:5;
  pointer-events:auto;
  margin-left:0;
  width:115px;
  min-width:115px;
  height:86px;
  margin-top:0;
  margin-bottom:0;
  min-height:86px;
  overflow:hidden;
}
.healthicons-i-schedu-outer{
  pointer-events:auto;
  z-index:5;
  position:relative;
  display:flex;
}
.Group-6{
  position:relative;
  z-index:6;
  pointer-events:auto;
  margin-left:0;
  width:115px;
  min-width:115px;
  height:86px;
  margin-top:0;
  margin-bottom:0;
  min-height:86px;
}
.Group-6-outer{
  pointer-events:auto;
  z-index:6;
  position:relative;
  display:flex;
}
.Vector-13{
  position:relative;
  z-index:14;
  pointer-events:auto;
  margin-left:0;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/logo.png);
}
.Vector-13-outer{
  pointer-events:auto;
  z-index:14;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-14{
  position:relative;
  z-index:13;
  pointer-events:auto;
  margin-left:16.52173913043478%;
  width:54.165217391304346%;
  height:39.58139534883721%;
  margin-top:27.82608695652174%;
}
.Vector-14-outer{
  pointer-events:auto;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-15{
  position:relative;
  z-index:12;
  pointer-events:auto;
  margin-left:41.73913043478261%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:48.69565217391305%;
  content:url(images/Vector_15.png);
}
.Vector-15-outer{
  pointer-events:auto;
  z-index:12;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-16{
  position:relative;
  z-index:11;
  pointer-events:auto;
  margin-left:25.217391304347824%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:48.69565217391305%;
  content:url(images/Vector_16.png);
}
.Vector-16-outer{
  pointer-events:auto;
  z-index:11;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-17{
  position:relative;
  z-index:10;
  pointer-events:auto;
  margin-left:58.26086956521739%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_17.png);
}
.Vector-17-outer{
  pointer-events:auto;
  z-index:10;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-18{
  position:relative;
  z-index:9;
  pointer-events:auto;
  margin-left:41.73913043478261%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_18.png);
}
.Vector-18-outer{
  pointer-events:auto;
  z-index:9;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-19{
  position:relative;
  z-index:8;
  pointer-events:auto;
  margin-left:25.217391304347824%;
  width:4.165217391304348%;
  height:4.162790697674419%;
  margin-top:35.65217391304348%;
  content:url(images/Vector_19.png);
}
.Vector-19-outer{
  pointer-events:auto;
  z-index:8;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-20{
  position:relative;
  z-index:7;
  pointer-events:auto;
  margin-left:62.608695652173914%;
  width:20.83478260869565%;
  height:20.837209302325583%;
  margin-top:46.95652173913044%;
  content:url(images/Vector_20.png);
}
.Vector-20-outer{
  pointer-events:auto;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Book-Boardoom{
  position:relative;
  z-index:15;
  pointer-events:auto;
  margin-left:115px;
  width:274px;
  min-width:274px;
  margin-top:-42px;
  margin-bottom:0;
  min-height:42px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family: Roboto, serif;
  font-weight:400;
  font-size:36px;
  line-height:43px;
}
.Book-Boardoom-outer{
  pointer-events:auto;
  z-index:15;
  position:relative;
  display:flex;
}
.Frame-5{
  position:relative;
  z-index:16;
  pointer-events:auto;
  margin-left:900px;
  width:400px;
  min-width:400px;
  height:35px;
  margin-top:-35px;
  margin-bottom:0;
  min-height:35px;
}
.Frame-5-outer{
  pointer-events:auto;
  z-index:16;
  position:relative;
  display:flex;
}
.Logout{
  position:relative;
  z-index:20;
  pointer-events:auto;
  margin-left:302px;
  width:98px;
  min-width:98px;
  margin-top:0;
  margin-bottom:0;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family: Roboto, serif;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Logout-1-outer{
  pointer-events:auto;
  z-index:20;
  position:relative;
  display:flex;
}
.Meetings{
  position:relative;
  z-index:19;
  pointer-events:auto;
  margin-left:178px;
  width:109px;
  min-width:109px;
  margin-top:-35px;
  margin-bottom:0;
  min-height:35px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family: Roboto, serif;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Meetings-outer{
  pointer-events:auto;
  z-index:20;
  position:relative;
  display:flex;
}
.Profile{
  position:relative;
  z-index:18;
  pointer-events:auto;
  margin-left:84px;
  width:79px;
  min-width:79px;
  margin-top:-35px;
  margin-bottom:0;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family: Roboto, serif;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Profile-outer{
  pointer-events:auto;
  z-index:20;
  position:relative;
  display:flex;
}
.Home{
  position:relative;
  z-index:17;
  pointer-events:auto;
  margin-left:0;
  width:69px;
  min-width:69px;
  margin-top:-35px;
  margin-bottom:0;
  min-height:35px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family: Roboto, serif;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Home-outer{
  pointer-events:auto;
  z-index:20;
  position:relative;
  display:flex;
}
.Frame-99{
  position: relative;
  z-index: 21;
  pointer-events: auto;
  margin-left: 86px;
  width: 90%;
  /* min-width: 1267px; */
  height: 594px;
  margin-top: -882px;
  margin-bottom: 288px;
  min-height: 594px;
  /*background: yellowgreen;*/
  display: flex;
  flex-direction: row;
}
.Frame-99-outer{
  pointer-events:auto;
  z-index:21;
  position:relative;
  display:flex;
  flex-direction: row;
}
.Frame-98{
  position:relative;
  z-index:22;
  pointer-events:auto;
  margin-left:0;
  width:1088px;
  min-width:1088px;
  height:594px;
  margin-top:0;
  margin-bottom:0;
  min-height:594px;
  display: flex;
  flex-direction: row;
}
.Frame-98-outer{
  pointer-events:auto;
  z-index:22;
  position:relative;
  display:flex;
}
.Welcome{
  position:relative;
  z-index:23;
  pointer-events:auto;
  margin-left:0;
  width:1088px;
  min-width:1088px;
  height:158px;
  margin-top:0;
  margin-bottom:436px;
  min-height:158px;
}
.Welcome-outer{
  pointer-events:auto;
  z-index:23;
  position:relative;
  display:flex;
}
.Frame-75{
  position:relative;
  z-index:24;
  pointer-events:auto;
  margin-left:0;
  width:1088px;
  min-width:1088px;
  height:158px;
  margin-top:0;
  margin-bottom:0;
  min-height:158px;
}
.Frame-75-outer{
  pointer-events:auto;
  z-index:24;
  position:relative;
  display:flex;
}
.Welcome-to-Tracom-s-{
  position:relative;
  z-index:25;
  pointer-events:auto;
  margin-left:10px;
  width:1078px;
  min-width:1078px;
  margin-top:10px;
  margin-bottom:0;
  min-height:148px;
  text-align:left;
  color: rgb(255, 255, 255);
  font-style:normal;
  font-family: "Old English Text MT", serif;
  font-weight:400;
  font-size:0;
  line-height:15px;
}
.Welcome-to-Tracom-s--outer{
  pointer-events:auto;
  z-index:25;
  position:relative;
  display:flex;
}
.Welcome-to-Tracom-s--1{
  color:rgba(214, 113, 70, 1);
  font-style:normal;
  font-family: "Old English Text MT", serif;
  font-weight:400;
  font-size:48px;
  line-height:15px;
}
.Welcome-to-Tracom-s--2{
  color: rgb(255, 255, 255);
  font-style:normal;
  font-family: Arial, serif;
  font-weight:400;
  font-size:18px;
  line-height:15px;
}
.Frame-100{
  position:relative;
  z-index:26;
  pointer-events:auto;
  margin-left:0;
  width:767px;
  min-width:767px;
  height:150px;
  margin-top:-421px;
  margin-bottom:271px;
  min-height:150px;
}
.Frame-100-outer{
  pointer-events:auto;
  z-index:26;
  position:relative;
  display:flex;
}
.Frame-92{
  position:relative;
  z-index:27;
  pointer-events:auto;
  margin-left:0;
  width:767px;
  min-width:767px;
  height:150px;
  margin-top:0;
  margin-bottom:0;
  min-height:150px;
}
.Frame-92-outer{
  pointer-events:auto;
  z-index:27;
  position:relative;
  display:flex;
}
.Frame-91{
  position:relative;
  z-index:32;
  pointer-events:auto;
  margin-left:550px;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:0;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-91-outer{
  pointer-events:auto;
  z-index:32;
  position:relative;
  display:flex;
}
.Schedule-Meeting{
  position:relative;
  z-index:33;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:25px;
  margin-bottom:25px;
  min-height:100px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(133, 70, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:50px;
}
.Schedule-Meeting-outer{
  pointer-events:auto;
  z-index:33;
  position:relative;
  display:flex;
}
.Frame-90-1{
  position:relative;
  z-index:30;
  pointer-events:auto;
  margin-left:275px;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-90-1-outer{
  pointer-events:auto;
  z-index:32;
  position:relative;
  display:flex;
}
.Add-a-user{
  position:relative;
  z-index:31;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:25px;
  margin-bottom:25px;
  min-height:100px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(133, 70, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:50px;
}
.Add-a-user-outer{
  pointer-events:auto;
  z-index:31;
  position:relative;
  display:flex;
}
.Frame-84{
  position:relative;
  z-index:28;
  pointer-events:auto;
  margin-left:0;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-84-outer{
  pointer-events:auto;
  z-index:32;
  position:relative;
  display:flex;
}
.My-Profile{
  position:relative;
  z-index:29;
  pointer-events:auto;
  margin-left:17px;
  width:166px;
  min-width:166px;
  margin-top:25px;
  margin-bottom:25px;
  min-height:100px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(133, 70, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:50px;
}
.My-Profile-outer{
  pointer-events:auto;
  z-index:29;
  position:relative;
  display:flex;
}
.Dummy{
  position:relative;
  z-index:34;
  pointer-events:auto;
  margin-left:0;
  width:841px;
  min-width:841px;
  height:91px;
  margin-top:-256px;
  margin-bottom:165px;
  min-height:91px;
}
.Dummy-outer{
  pointer-events:auto;
  z-index:34;
  position:relative;
  display:flex;
}
.This-is-a-dummy-topi{
  position:relative;
  z-index:35;
  pointer-events:auto;
  margin-left:10px;
  width:821px;
  min-width:821px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:71px;
  text-align:left;
  color: rgb(255, 255, 255);
  font-style:normal;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:0;
  line-height:15px;
}
.This-is-a-dummy-topi-outer{
  pointer-events:auto;
  z-index:35;
  position:relative;
  display:flex;
}
.This-is-a-dummy-topi-1{
  color:rgba(214, 113, 70, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:36px;
  line-height:15px;
}
.This-is-a-dummy-topi-2{
  color: rgb(255, 255, 255);
  font-style:italic;
  font-family:Arial;
  font-weight:400;
  font-size:18px;
  line-height:15px;
}
.Last-nav{
  position:relative;
  z-index:36;
  pointer-events:auto;
  margin-left:0;
  width:1070px;
  min-width:1070px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
}
.Last-nav-outer{
  pointer-events:auto;
  z-index:36;
  position:relative;
  display:flex;
}
.Frame-97{
  position:relative;
  z-index:43;
  pointer-events:auto;
  margin-left:870px;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:0;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-97-outer{
  pointer-events:auto;
  z-index:43;
  position:relative;
  display:flex;
}
.Logout-1{
  position:relative;
  z-index:44;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:59px;
  margin-bottom:58px;
  min-height:33px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(70, 93, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:33px;
}
.Logout-outer{
  pointer-events:auto;
  z-index:44;
  position:relative;
  display:flex;
}
.Frame-96{
  position:relative;
  z-index:41;
  pointer-events:auto;
  margin-left:580px;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-96-outer{
  pointer-events:auto;
  z-index:43;
  position:relative;
  display:flex;
}
.Get-Logs{
  position:relative;
  z-index:42;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:59px;
  margin-bottom:58px;
  min-height:33px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(70, 93, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:33px;
}
.Get-Logs-outer{
  pointer-events:auto;
  z-index:42;
  position:relative;
  display:flex;
}
.Frame-95{
  position:relative;
  z-index:39;
  pointer-events:auto;
  margin-left:290px;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-95-outer{
  pointer-events:auto;
  z-index:43;
  position:relative;
  display:flex;
}
.My-Meetings{
  position:relative;
  z-index:40;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:59px;
  margin-bottom:58px;
  min-height:33px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(70, 93, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:33px;
}
.My-Meetings-outer{
  pointer-events:auto;
  z-index:40;
  position:relative;
  display:flex;
}
.Frame-90{
  position:relative;
  z-index:37;
  pointer-events:auto;
  margin-left:0;
  width:200px;
  min-width:200px;
  height:150px;
  margin-top:-150px;
  margin-bottom:0;
  min-height:150px;
  background-color:rgba(255, 255, 255, 1);
  backdrop-filter:blur(40px);
  -webkit-backdrop-filter:blur(40px);
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  border:1px solid rgba(254, 218, 26, 1);
  border-radius:10px;
}
.Frame-90-outer{
  pointer-events:auto;
  z-index:43;
  position:relative;
  display:flex;
}
.All-meetings{
  position:relative;
  z-index:38;
  pointer-events:auto;
  margin-left:0;
  width:201px;
  min-width:201px;
  margin-top:59px;
  margin-bottom:58px;
  min-height:33px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(70, 93, 214, 1);
  font-style:italic;
  font-family:"Lucida Handwriting";
  font-weight:400;
  font-size:18px;
  line-height:33px;
}
.All-meetings-outer{
  pointer-events:auto;
  z-index:38;
  position:relative;
  display:flex;
}
.Footer{
  position:relative;
  z-index:45;
  pointer-events:auto;
  margin-left:0;
  width:1440px;
  min-width:1440px;
  height:185px;
  margin-top:-185px;
  margin-bottom:0;
  min-height:185px;
  background:linear-gradient(170.99deg, rgba(70, 93, 214, 0.800000011920929) 37.653956634635406%, rgba(70, 93, 214, 0) 82.03928761466305%);
}
.Footer-outer{
  pointer-events:auto;
  z-index:45;
  position:relative;
  display:flex;
}
.Frame-88{
  position:relative;
  z-index:74;
  pointer-events:auto;
  margin-left:691px;
  width:295px;
  min-width:295px;
  height:78px;
  margin-top:0;
  margin-bottom:142px;
  min-height:78px;
}
.Frame-88-outer{
  pointer-events:auto;
  z-index:74;
  position:relative;
  display:flex;
}
.Frame-18{
  position:relative;
  z-index:75;
  pointer-events:auto;
  margin-left:0;
  width:280px;
  min-width:280px;
  height:36px;
  margin-top:0;
  margin-bottom:42px;
  min-height:36px;
}
.Frame-18-outer{
  pointer-events:auto;
  z-index:75;
  position:relative;
  display:flex;
}
.akar-icons-link-out-1{
  position:relative;
  z-index:77;
  pointer-events:auto;
  margin-left:200px;
  width:34px;
  min-width:34px;
  height:33px;
  margin-top:0;
  margin-bottom:3px;
  min-height:33px;
  overflow:hidden;
}
.akar-icons-link-out-1-outer{
  pointer-events:auto;
  z-index:77;
  position:relative;
  display:flex;
}
.Group-1{
  position:relative;
  z-index:78;
  pointer-events:auto;
  margin-left:4px;
  width:25.5px;
  min-width:25.5px;
  height:24.75px;
  margin-top:4px;
  margin-bottom:4.25px;
  min-height:24.75px;
}
.Group-1-outer{
  pointer-events:auto;
  z-index:78;
  position:relative;
  display:flex;
}
.Vector-3{
  position:relative;
  z-index:81;
  pointer-events:auto;
  margin-left:-3.9215686274509802%;
  width:107.84313725490196%;
  height:108.08080808080808%;
  margin-top:-3.9215686274509802%;
  content:url(images/Vector_3.png);
}
.Vector-3-outer{
  pointer-events:auto;
  z-index:81;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-4{
  position:relative;
  z-index:80;
  pointer-events:auto;
  margin-left:70.58823529411777%;
  width:35.60784313725496%;
  height:35.87878787878788%;
  margin-top:-3.921568627450987%;
  content:url(images/Vector_4.png);
}
.Vector-4-outer{
  pointer-events:auto;
  z-index:80;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-5{
  position:relative;
  z-index:79;
  pointer-events:auto;
  margin-left:54.90196078431371%;
  width:49.52941176470587%;
  height:49.73737373737374%;
  margin-top:-3.9215686274509793%;
  content:url(images/Vector_5.png);
}
.Vector-5-outer{
  pointer-events:auto;
  z-index:79;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Terms-And-Conditions{
  position:relative;
  z-index:76;
  pointer-events:auto;
  margin-left:0;
  width:246px;
  min-width:246px;
  margin-top:-36px;
  margin-bottom:0;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Terms-And-Conditions-outer{
  pointer-events:auto;
  z-index:76;
  position:relative;
  display:flex;
}
.Frame-17{
  position:relative;
  z-index:82;
  pointer-events:auto;
  margin-left:0;
  width:295px;
  min-width:295px;
  height:36px;
  margin-top:-36px;
  margin-bottom:0;
  min-height:36px;
}
.Frame-17-outer{
  pointer-events:auto;
  z-index:82;
  position:relative;
  display:flex;
}
.akar-icons-link-out{
  position:relative;
  z-index:84;
  pointer-events:auto;
  margin-left:200px;
  width:34px;
  min-width:34px;
  height:33px;
  margin-top:0;
  margin-bottom:3px;
  min-height:33px;
  overflow:hidden;
}
.akar-icons-link-out-outer{
  pointer-events:auto;
  z-index:84;
  position:relative;
  display:flex;
}
.Group{
  position:relative;
  z-index:85;
  pointer-events:auto;
  margin-left:4px;
  width:25.5px;
  min-width:25.5px;
  height:24.75px;
  margin-top:4px;
  margin-bottom:4.25px;
  min-height:24.75px;
}
.Group-outer{
  pointer-events:auto;
  z-index:85;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:88;
  pointer-events:auto;
  margin-left:-3.9215686274509802%;
  width:107.84313725490196%;
  height:108.08080808080808%;
  margin-top:-3.9215686274509802%;
  content:url(images/Vector.png);
}
.Vector-outer{
  pointer-events:auto;
  z-index:88;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-1{
  position:relative;
  z-index:87;
  pointer-events:auto;
  margin-left:70.58823529411777%;
  width:35.60784313725496%;
  height:35.87878787878788%;
  margin-top:-3.921568627450987%;
  content:url(images/Vector_1.png);
}
.Vector-1-outer{
  pointer-events:auto;
  z-index:87;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-2{
  position:relative;
  z-index:86;
  pointer-events:auto;
  margin-left:54.90196078431371%;
  width:49.52941176470587%;
  height:49.73737373737374%;
  margin-top:-3.9215686274509793%;
  content:url(images/Vector_2.png);
}
.Vector-2-outer{
  pointer-events:auto;
  z-index:86;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Licence-And-Agreemen{
  position:relative;
  z-index:83;
  pointer-events:auto;
  margin-left:0;
  width:261px;
  min-width:261px;
  margin-top:-36px;
  margin-bottom:0;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.Licence-And-Agreemen-outer{
  pointer-events:auto;
  z-index:83;
  position:relative;
  display:flex;
}
.Frame-16{
  position:relative;
  z-index:46;
  pointer-events:auto;
  margin-left:0;
  width:333px;
  min-width:333px;
  height:183px;
  margin-top:-220px;
  margin-bottom:37px;
  min-height:183px;
}
.Frame-16-outer{
  pointer-events:auto;
  z-index:46;
  position:relative;
  display:flex;
}
.Frame-15{
  position:relative;
  z-index:47;
  pointer-events:auto;
  margin-left:0;
  width:333px;
  min-width:333px;
  height:109px;
  margin-top:0;
  margin-bottom:74px;
  min-height:109px;
}
.Frame-15-outer{
  pointer-events:auto;
  z-index:47;
  position:relative;
  display:flex;
}
.Frame-7{
  position:relative;
  z-index:48;
  pointer-events:auto;
  margin-left:50px;
  width:315px;
  min-width:315px;
  height:70px;
  margin-top:0;
  margin-bottom:39px;
  min-height:70px;
}
.Frame-7-outer{
  pointer-events:auto;
  z-index:48;
  position:relative;
  display:flex;
}
.Contact-{
  position:relative;
  z-index:49;
  pointer-events:auto;
  margin-left:0;
  width:207px;
  min-width:207px;
  margin-top:0;
  margin-bottom:34px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:18px;
  line-height:29px;
}
.Contact--outer{
  pointer-events:auto;
  z-index:49;
  position:relative;
  display:flex;
}
.Frame-11{
  position:relative;
  z-index:50;
  pointer-events:auto;
  margin-left:0;
  width:315px;
  min-width:315px;
  height:31px;
  margin-top:-31px;
  margin-bottom:0;
  min-height:31px;
}
.Frame-11-outer{
  pointer-events:auto;
  z-index:50;
  position:relative;
  display:flex;
}
.Frame-12{
  position:relative;
  z-index:51;
  pointer-events:auto;
  margin-left:0;
  width:315px;
  min-width:315px;
  height:31px;
  margin-top:0;
  margin-bottom:0;
  min-height:31px;
}
.Frame-12-outer{
  pointer-events:auto;
  z-index:51;
  position:relative;
  display:flex;
}
.email--info-tracom-c{
  position:relative;
  z-index:54;
  pointer-events:auto;
  margin-left:42px;
  width:273px;
  min-width:273px;
  margin-top:0;
  margin-bottom:3px;
  min-height:28px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.email--info-tracom-c-outer{
  pointer-events:auto;
  z-index:54;
  position:relative;
  display:flex;
}
.dashicons-email{
  position:relative;
  z-index:52;
  pointer-events:auto;
  margin-left:0;
  width:37px;
  min-width:37px;
  height:31px;
  margin-top:-31px;
  margin-bottom:0;
  min-height:31px;
  overflow:hidden;
}
.dashicons-email-outer{
  pointer-events:auto;
  z-index:52;
  position:relative;
  display:flex;
}
.Vector-12{
  position:relative;
  z-index:53;
  pointer-events:auto;
  margin-left:10.81081081081081%;
  width:85.05405405405405%;
  height:60.00000000000001%;
  margin-top:16.216216216216218%;
  content:url(images/Vector_12.png);
}
.Vector-12-outer{
  pointer-events:auto;
  z-index:53;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-13{
  position:relative;
  z-index:55;
  pointer-events:auto;
  margin-left:0;
  width:333px;
  min-width:333px;
  height:36px;
  margin-top:-36px;
  margin-bottom:0;
  min-height:36px;
}
.Frame-13-outer{
  pointer-events:auto;
  z-index:55;
  position:relative;
  display:flex;
}
.Frame-14{
  position:relative;
  z-index:56;
  pointer-events:auto;
  margin-left:50px;
  width:333px;
  min-width:333px;
  height:36px;
  margin-top:0;
  margin-bottom:0;
  min-height:36px;
}
.Frame-14-outer{
  pointer-events:auto;
  z-index:56;
  position:relative;
  display:flex;
}
.phone--5689000775{
  position:relative;
  z-index:59;
  pointer-events:auto;
  margin-left:34px;
  width:299px;
  min-width:299px;
  margin-top:0;
  margin-bottom:0;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:29px;
}
.phone--5689000775-outer{
  pointer-events:auto;
  z-index:59;
  position:relative;
  display:flex;
}
.dashicons-phone{
  position:relative;
  z-index:57;
  pointer-events:auto;
  margin-left:0;
  width:29px;
  min-width:29px;
  height:29px;
  margin-top:-29px;
  margin-bottom:0;
  min-height:29px;
  overflow:hidden;
}
.dashicons-phone-outer{
  pointer-events:auto;
  z-index:57;
  position:relative;
  display:flex;
}
.Vector-11{
  position:relative;
  z-index:58;
  pointer-events:auto;
  margin-left:3.4482758620689653%;
  width:88.65517241379311%;
  height:88.75862068965517%;
  margin-top:3.4482758620689653%;
  content:url(images/Vector_11.png);
}
.Vector-11-outer{
  pointer-events:auto;
  z-index:58;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-8{
  position:relative;
  z-index:60;
  pointer-events:auto;
  margin-left:50px;
  width:312px;
  min-width:312px;
  height:60px;
  margin-top:-60px;
  margin-bottom:0;
  min-height:60px;
}
.Frame-8-outer{
  pointer-events:auto;
  z-index:60;
  position:relative;
  display:flex;
}
.akar-icons-linkedin-{
  position:relative;
  z-index:71;
  pointer-events:auto;
  margin-left:150px;
  width:64px;
  min-width:64px;
  height:48px;
  margin-top:0;
  margin-bottom:12px;
  min-height:48px;
  overflow:hidden;
}
.akar-icons-linkedin--outer{
  pointer-events:auto;
  z-index:71;
  position:relative;
  display:flex;
}
.Group-2{
  position:relative;
  z-index:72;
  pointer-events:auto;
  margin-left:3px;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:2px;
  margin-bottom:2px;
  min-height:35px;
}
.Group-2-outer{
  pointer-events:auto;
  z-index:72;
  position:relative;
  display:flex;
}
.Vector-6{
  position:relative;
  z-index:73;
  pointer-events:auto;
  margin-left:0;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/Vector_6.png);
}
.Vector-6-outer{
  pointer-events:auto;
  z-index:73;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.et-twitter{
  position:relative;
  z-index:67;
  pointer-events:auto;
  margin-left:100px;
  width:64px;
  min-width:64px;
  height:46px;
  margin-top:-60px;
  margin-bottom:14px;
  min-height:46px;
  overflow:hidden;
}
.et-twitter-outer{
  pointer-events:auto;
  z-index:67;
  position:relative;
  display:flex;
}
.Group-3{
  position:relative;
  z-index:68;
  pointer-events:auto;
  margin-left:0;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:-0.10000000000002274px;
  min-height:35px;
}
.Group-3-outer{
  pointer-events:auto;
  z-index:68;
  position:relative;
  display:flex;
}
.Vector-7{
  position:relative;
  z-index:70;
  pointer-events:auto;
  margin-left:26.504521359526038%;
  width:53.22731524789523%;
  height:43.861171366594355%;
  margin-top:21.82725288431556%;
  content:url(images/Vector_7.png);
}
.Vector-7-outer{
  pointer-events:auto;
  z-index:70;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-8{
  position:relative;
  z-index:69;
  pointer-events:auto;
  margin-left:0;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/Vector_8.png);
}
.Vector-8-outer{
  pointer-events:auto;
  z-index:69;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.akar-icons-reddit-fi{
  position:relative;
  z-index:64;
  pointer-events:auto;
  margin-left:50px;
  width:56px;
  min-width:56px;
  height:46px;
  margin-top:-60px;
  margin-bottom:14px;
  min-height:46px;
  overflow:hidden;
}
.akar-icons-reddit-fi-outer{
  pointer-events:auto;
  z-index:64;
  position:relative;
  display:flex;
}
.Group-4{
  position:relative;
  z-index:65;
  pointer-events:auto;
  margin-left:0;
  width:35px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:0;
  min-height:35px;
}
.Group-4-outer{
  pointer-events:auto;
  z-index:65;
  position:relative;
  display:flex;
}
.Vector-9{
  position:relative;
  z-index:66;
  pointer-events:auto;
  margin-left:0;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/Vector_9.png);
}
.Vector-9-outer{
  pointer-events:auto;
  z-index:66;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.akar-icons-facebook-{
  position:relative;
  z-index:61;
  pointer-events:auto;
  margin-left:0;
  width:67px;
  min-width:67px;
  height:48px;
  margin-top:-60px;
  margin-bottom:12px;
  min-height:48px;
  overflow:hidden;
}
.akar-icons-facebook--outer{
  pointer-events:auto;
  z-index:61;
  position:relative;
  display:flex;
}
.Group-5{
  position:relative;
  z-index:62;
  pointer-events:auto;
  margin-left:0;
  width:36px;
  min-width:35px;
  height:35px;
  margin-top:0;
  margin-bottom:0;
  min-height:35px;
}
.Group-5-outer{
  pointer-events:auto;
  z-index:62;
  position:relative;
  display:flex;
}
.Vector-10{
  position:relative;
  z-index:63;
  pointer-events:auto;
  margin-left:0;
  width:100%;
  height:100%;
  margin-top:0;
  content:url(images/Vector_10.png);
}
.Vector-10-outer{
  pointer-events:auto;
  z-index:63;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Homepage{

}
.Calendar{
  background-color: #e5976a;
  width: 40%;
  height: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
}
.MyCards{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  /*background-color: aliceblue;*/
}
.UserManager{
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  width: 80%;
  height: 40%;
  background-color: #814421;
  margin: 5%;
}
.EventManager{
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  width: 80%;
  height: 40%;
  background-color: #814421;
  margin: 5%;
}
.Extras{
  filter:drop-shadow(10px 10px 20px rgba(214, 113, 70, 1));
  width: 80%;
  height: 10%;
  background-color: #814421;
  margin: 5%;
  display: flex;
  flex-direction: row;
}
.UserManagerButton{
  padding: 5%;
  margin-left: 7%;
  font-size: 15px;
  font-family: serif;
  color: gold;
}
.UserManagerTitle{
  height: 50%;
  width: 95%;
  text-align: center;
  font-family: serif;
  color: bisque;
  font-size: 25px;
}
.UserManagerButtons{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}

.EventManagerTitle{
  height: 40%;
  width: 95%;
  text-align: center;
  font-family: serif;
  color: bisque;
  font-size: 25px;
}
.EventManagerButtons{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}
.EventManagerButton{
  /* padding: 5%; */
  margin-left: 7%;
  font-size: 15px;
  font-family: serif;
  color: gold;
  padding-left: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2.5%;
}
.ExtraLinks{
  font-family: serif;
  color: gold;
  font-size: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 18%;
  padding-right: 18%;
}


/*Calendar Css*/

.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr .clndr-controls {
  position: relative;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 3em 0;
  text-align: center;
  background-color: #996f3b;
  margin: 1.5em 0;
}
.clndr .clndr-controls .month {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}
.clndr .clndr-controls .clndr-control-button .clndr-next-button {
  position: absolute;
  right: 7%;
  top: 45%;
  width: 8px;
  height: 15px;
  text-indent: -4000px;
  background: url(images/calender-arw.png) no-repeat -12px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  position: absolute;
  left: 7%;
  top: 45%;
  width: 8px;
  height: 15px;
  text-indent: -4000px;
  background: url(images/calender-arw.png) no-repeat 1px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:100%;
  margin:0 auto;
}
.cal1 .clndr .clndr-table .header-days {
  font-size: 16px;
  background: none;
  margin-bottom: 1em;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #333;
  font-weight: 700;
}
.cal1 .clndr .clndr-table tr {
  height: 46px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#555;
  vertical-align:middle;
}
.cal1 .clndr .clndr-table tr .day.today {
  background: #A1D36E;
  color: #FFF;
}
.dat-c{
  color:#c5996c;
}
.cal1 .clndr .clndr-table tr .day.today:hover {
  color: #FFF;
}
.cal1 .clndr .clndr-table tr .day.today.event {
  background: #996f3b;
  color: #FFF;
  border-radius: 4px;
}
.day.today.event:hover{
  color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents:hover {
  color: #1DDCB6;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size: 0.875em;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color:#999;
}
@media all and (max-width:1024px) {
  .cal1 .clndr .clndr-table tr {
    height: 46px;
  }
}
@media all and (max-width:640px) {
  .cal1 .clndr .clndr-table tr .day .day-contents {
    font-size: 0.8em;
  }
}
@media all and (max-width:320px) {
  .cal1 .clndr .clndr-table{
    width: 100%;
  }
  .cal1 .clndr .clndr-table tr {
    height: 35px;
  }
  .cal1 .clndr .clndr-table .header-days .header-day {
    font-size: 0.9em;
  }
  .cal1 .clndr .clndr-table tr .day .day-contents {
    font-size: 0.7em;
  }
}


/*
Author: Designmaz
Author URL: https://www.designmaz.net
License URL: https://www.designmaz.net/licence/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
  font-family: 'Roboto', sans-serif;
  background: rgb(145, 150, 123);
  position: relative;
}
/*-- main --*/
.main {
  width: 32%;
  margin: 0 auto;
  padding: 4em 0 7em;
}
h1 {
  font-size: 3em;
  color: #fff;
  font-family: 'Romanesco', cursive;
  text-align: center;
  margin-bottom: 0.8em;
  letter-spacing: 3px;
}
/*--calender--*/
.calnder {
  padding: 0;
}
.cal1 .clndr .clndr-table tr .day.today.event .day-contents {
  color: #fff !important;
}
.clndr-top {
  background-color: #f5c51d;
  padding: 2em;
}
.column_right_grid.calender {
  background-color: #fff;
  padding: 2.5em 2em 1.5em;
}
.clndr-event {
  text-align: center;
}
.clndr-event a {
  font-size: 0.9em;
  background-color: #1DDCB6;
  padding: 0.6em 1.2em;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #1DDCB6;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
}
.clndr-event a:hover {
  color: #1DDCB6;
  background-color: #fff;
}
a.popup-with-zoom-anim:focus {
  outline: none;
}
/*--//calender--*/
/*--pop-up--*/
.event-text input[type="text"],.event-text input[type="date"],.event-text textarea  {
  display: block;
  color: #555;
  outline: none;
  width: 95%;
  font-size: 0.9em;
  padding: 0.6em;
  margin-bottom: 1em;
  -webkit-appearance: none;
  background: none;
  border: 1px solid #DEDEDE;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  font-family: 'Roboto', sans-serif;
}
.event-text textarea  {
  min-height:5em;
  resize: none;
}
.event-text input[type="submit"] {
  outline: none;
  color: #fff;
  background: #1DDCB6;
  width: 36%;
  padding: .6em 0;
  font-size: 0.9em;
  margin: 10px 2px 0px 0px;
  -webkit-appearance: none;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  border: 1px solid #1DDCB6;
  border-radius: 18px;
  cursor: pointer;
}
.event-text input[type="submit"]:hover {
  background: #fff;
  color: #1DDCB6;
}
/*--//pop-up--*/
/*--copy-right--*/
.copy-right {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2em;
}
.copy-right p {
  color: #fff;
  font-size: 1em;
  text-align: center;
  line-height: 1.6em;
  margin: 0 1em;
}
.copy-right p a {
  color: rgba(255, 255, 255, 0.64);
  display: inline-block;
  font-size: 1em;
  border-bottom: 1px solid transparent;
}
.copy-right p a:hover {
  color: #1DDCB6;
  border-color: #1DDCB6;
}
/*---- responsive-design -----*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
  .main {
    width: 39%;
  }
}
@media(max-width:1080px){
  .main {
    width: 48%;
  }
}
@media(max-width:1024px){
}
@media(max-width:991px){
  h1 {
    font-size: 2.8em;
  }
  .clndr .clndr-controls {
    padding: 2em 0 !important;
    margin: 1.5em 0 1em !important;
  }
  .clndr .clndr-controls .month {
    font-size: 1.2em;
  }
}
@media(max-width:768px){
  .column_right_grid.calender {
    padding: 2em 2em 1em;
  }
  .main {
    width: 56%;
  }
}
@media(max-width:640px){
  .main {
    width: 65%;
  }
  h1 {
    font-size: 2.5em;
  }
  .clndr .clndr-controls .month {
    font-size: 1.1em !important;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    top: 43% !important;
  }
  .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    top: 43% !important;
  }
  .copy-right p {
    font-size: 0.9em;
  }
}
@media(max-width:480px){
  .main {
    width: 83%;
    padding: 2em 0 6em;
  }
  .clndr-event a {
    font-size: 0.8em;
    padding: 0.7em 1.2em;
  }
  .clndr .clndr-controls {
    padding: 1.8em 0 !important;
    margin: 1.5em 0 0.8em !important;
  }
}
@media(max-width:320px){
  .main {
    width: 90%;
  }
  h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .clndr .clndr-controls .month {
    font-size: 0.9em !important;
  }
  .clndr .clndr-controls {
    padding: 1.3em 0 !important;
    margin: 1.2em 0 0.6em !important;
  }
  .copy-right {
    margin-bottom: 1em;
  }
  .copy-right p {
    font-size: 0.8em;
  }
  .event-text input[type="text"], .event-text input[type="date"], .event-text textarea {
    width: 92%;
    font-size: 0.8em;
  }
  .event-text input[type="submit"] {
    width: 46%;
    padding: .5em 0;
    font-size: 0.8em;
  }
}
/*--//responsive-design---*/