<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
<div class="container text-center">
    <h4><a th:href="@{/home}">Home</a></h4>
    <h3>Create Meeting</h3>


    <br/>
    <br/>


    <form method="post" style="max-width: 600px; margin: 0 auto;" th:action="@{/save_meet}" th:object="${meet}">
        <div>
            <div class="form-group row">
                <label class="col-form-label col-4">Meeting</label>
                <div class="col-8">
                    <input class="form-control" required th:field="*{meet_name}"/>
                </div>
            </div>


            <!--            <div>-->
            <!--                <div class="form-group row">-->
            <!--                    <label class="col-form-label col-4">Meeting End</label>-->
            <!--                    <div class="col-8">-->
            <!--                        <label for="meet_end">Meeting Date</label>-->
            <!--                        <input type="date" id="meet_date" name="meet_end" th:value="${repeat.meet_date}">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div>
                <div class="form-group row">
                    <label class="col-form-label col-4">Meeting Start</label>
                    <div class="col-8">
                        <label for="meet_start">Start Time</label>
                        <input id="meet_start" name="meet_start" th:field="*{meet_start}" type="time">
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label class="col-form-label col-4">Meeting End</label>
                    <div class="col-8">
                        <label for="meet_end">End Time</label>
                        <input id="meet_end" name="meet_end" th:field="*{meet_end}" type="time">
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <label class="col-form-label col-4">Capacity</label>
                    <div class="col-8">
                        <input class="form-control" id="capacity" maxlength="20" minlength="8" required
                               th:field="*{capacity}" type="number"/>
                    </div>
                </div>
            </div>
            <!--            <div>-->
            <!--                <div class="form-group">-->
            <!--                    <div class='input-group date' id='date-picker'>-->
            <!--                        <input class="form-control" th:field="*{repeatMeetings}" type="text"/>-->
            <!--                        <span class="input-group-addon">-->
            <!--                                            <span class="glyphicon glyphicon-calendar"></span>-->
            <!--                                        </span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

<!--            <div>-->
                <div class="form-group row">
                    <label class="col-form-label col-4">Co-Owners:</label>
                    <div class="col-8">
                        <input class="form-control" th:field="*{coOwners}" type="text"
                        />
                    </div>
                </div>




<!--            </div>-->
            <div>
                <div class="form-group row">
                    <label class="col-form-label col-4">Dates:</label>
                    <div class="col-8">
                        <input class="form-control date" th:field="*{repeatMeetings}" type="text" placeholder="Dates"
                        />
                    </div>
                </div>
            </div>


<!--            <div>-->
<!--                <div class="form-group row">-->
<!--                    <label class="col-form-label col-4">Boardroom</label>-->

<!--                    <select th:field="*{boardroom}">-->
<!--                        <option th:value="'M'" th:text="Male"></option>-->
<!--                        <option th:value="'F'" th:text="Female"></option>-->
<!--                    </select>-->

<!--                        &lt;!&ndash;                        <input type="text" class="form-control" th:field="*{user_admin}" required minlength="2"&ndash;&gt;-->
<!--                        &lt;!&ndash;                               maxlength="20"/>&ndash;&gt;-->

<!--                    &lt;!&ndash;                    <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input type="radio" id="admin"&ndash;&gt;-->
<!--                    &lt;!&ndash;                               name="contact" value="admin" th:field="*{user_role}">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <label for="admin">Admin</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input type="radio" id="officer"&ndash;&gt;-->
<!--                    &lt;!&ndash;                               name="officer" value="officer" th:field="*{user_role}">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <label for="officer">Officer</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input type="radio" id="employee"&ndash;&gt;-->
<!--                    &lt;!&ndash;                               name="employee" value="employee" th:field="*{user_role}">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <label for="employee">Employee</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

                        <div>
                            <div class="form-group row">
                                <label class="col-form-label col-4">Boardroom</label>
                                <div class="col-8">
                                    <select th:field="*{boardroom}">
                                        <option th:each="i : ${board}" th:value="${i.board_id}" th:text="${i.board_name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


            <div>
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('.date').datepicker({
        multidate: true,
        format:'yyyy-mm-dd'
    });
</script>
</body>

</html>